$white: #f8f8f8;
$black: #000000;


%light {
  font-family: 'AnekMalayalam-Light', sans-serif;
  font-weight: 300;
}

%medium {
  font-family: 'AnekMalayalam-Medium', sans-serif;
  font-weight: 500;
}

%semibold {
  font-family: 'AnekMalayalam-SemiBold', sans-serif;
  font-weight: 600;
}


.header{
  &__top{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $black;
    z-index: 999;
  }
  &__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom{
    user-select: none;
  }
  &__bottom-inner{
    padding-top: 86px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 3px;
  }
  &__bottom-title{
    max-width: 750px;
    font-size: 120px;
  }
}


.menu{
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-li{
    letter-spacing: 3px;

  }
  &__list-li:not(:last-child){
    margin-right: 15px;
  }
  &__list-a{
    display: inline-block;
    padding: 5px;
    font-size: 24px;
    @extend %medium;
    // border-bottom: 2px solid $black;
    transition: all 0.3s ease;
  }
  &__list-a:hover {
    border-color: white;
    color: #9c9c9c;
  }
}


.about{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info{
    padding-top: 50px;
    max-width: 600px;
  }
  &__info-title {
    margin-bottom: 40px;
    display: inline-block;
    font-size: 30px;
    border-bottom: 1px solid $white;
  }
  &__info-subtitle {
    margin-bottom: 20px;
    text-align: right;
  }
  &__info-text {
    margin-bottom: 20px;
    @extend %light;
    font-size: 18px;
  }
}


.skills {
  background-image: url('../images/skills.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right center;
  &__inner {
    font-size: 14px;
    letter-spacing: 2px;
  }
  &__title {
    margin-bottom: 60px;
  }
  &__items {
    width: 450px;
  }
  &__item {
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 2px solid $white;
    text-transform: uppercase;
    span {
      margin-right: 7px;
      position: absolute;
      display: block;
      right: 0;
      bottom: -26px;
    }
    span:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      right: -7px;
      bottom: 24px;
      background-color: $black;
    }
    p {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &__text {
    @extend %light;
  }
}
