.header {
  position: relative;
  overflow: hidden;
  
  &__top {
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: var(--bg-primary);
    // transition: border-color 0.3s ease;
    // transition: background-color 0.3s ease;
    
    [data-theme="light"] & {
      border-bottom: 1px solid var(--border-color);
    }
  }
  
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__logo {
    position: relative;
    z-index: 1000;
    
    img {
      filter: invert(var(--wave-color-base));
      transition: filter 0.3s ease;
    }
  }
  
  &__bottom {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
  }
  
  &__bottom-inner {
    padding-top: 86px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 3px;
  }
  
  &__bottom-title {
    position: relative;
    max-width: 900px;
    font-size: 120px;
    text-transform: uppercase;
    z-index: 1;
    color: var(--text-primary);
    transition: color 0.3s ease;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  &__btn {
    margin-left: 20px;
    position: relative;
    display: none;
    width: 40px;
    height: 26px;
    background: transparent;
    z-index: 1000;
    cursor: pointer;
    border: none;
    
    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      left: 0;
      border-radius: 10px;
      background-color: var(--text-primary);
      transition: all 0.3s ease;
    }
    
    &::before {
      top: 0;
      transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
      box-shadow: 0 11px 0 var(--text-primary);
    }
    
    &::after {
      bottom: 0;
      transition: bottom .3s .15s, transform .3s;
    }
    
    &.active::before {
      top: 11px;
      transform: rotate(45deg);
      box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
      transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
    
    &.active::after {
      bottom: 11px;
      transform: rotate(-45deg);
      transition: bottom .3s, transform .3s .15s;
    }
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &__list-li {
    letter-spacing: 3px;
    
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  
  &__list-a {
    display: inline-block;
    padding: 5px;
    font-size: 24px;
    @extend %medium;
    text-transform: uppercase;
    transition: all 0.3s ease;
    color: var(--text-primary);
    text-decoration: none;
    
    &:hover {
      color: var(--text-secondary);
    }
  }
}

.about {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__info {
    margin-left: 20px;
    padding-top: 50px;
    max-width: 600px;
    min-height: 600px;
    transition: opacity 0.4s ease;
    
    &.fade-out {
      opacity: 0;
    }
    
    &.fade-in {
      opacity: 1;
    }
  }
  
  &__info-title {
    margin-bottom: 40px;
    display: inline-block;
    font-size: 30px;
    border-bottom: 1px solid var(--accent-color);
    color: var(--text-primary);
    
    transition: 
      color 0.3s ease,
      border-color 0.3s ease;
  }
  
  &__info-subtitle {
    margin-bottom: 20px;
    text-align: right;
    color: var(--text-primary);
    transition: color 0.3s ease;
  }
  
  &__info-text {
    margin-bottom: 20px;
    @extend %light;
    font-size: 18px;
    color: var(--text-primary);
    transition: color 0.3s ease;
  }
  
  &__arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__lang-btn {
    padding: 0;
    background-color: transparent;
    color: var(--text-primary);
    border: none;
    transition: color .3s ease-in-out;
    cursor: pointer;
    font-family: inherit;
    
    &:hover {
      color: var(--text-secondary);
    }
  }
}

.skills {
  background-image: url('../images/skills.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right center;
  
  &__inner {
    font-size: 14px;
    letter-spacing: 2px;
  }
  
  &__title {
    margin-bottom: 60px;
  }
  
  &__items {
    max-width: 450px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  &__item {
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 2px solid var(--accent-color);
    text-transform: uppercase;
    font-size: 18px;
    color: var(--text-primary);
    
    transition: 
      color 0.3s ease,
      border-color 0.3s ease;
    
    span {
      margin-right: 7px;
      position: absolute;
      display: block;
      right: 0;
      bottom: -26px;
      
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        right: -7px;
        bottom: 24px;
        background-color: var(--bg-primary);
        transition: background-color 0.3s ease;
      }
    }
    
    p {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
    }
  }
  
  &__text {
    @extend %light;
    font-size: 15px;
    color: var(--text-primary);
    transition: color 0.3s ease;
  }
}

.works {
  &__inner {
    padding: 50px 15px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
  }
  
  &__title {
    text-align: center;
  }
  
  &__item {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px;
    height: 500px;
    overflow: hidden;
    transition: all .5s ease-out;
    
    &:hover {
      .works__item-num span {
        background-color: var(--accent-color);
      }
      
      .works__item-title {
        border-bottom: 3px solid var(--accent-color);
      }
      
      .works__item-num {
        span {
          left: 40%;
        }
        
        p {
          right: 40%;
        }
      }
      
      svg {
        path {
          fill: var(--accent-color);
        }
      }
    }
  }
  
  &__item-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    color: inherit;
    
    &::before {
      position: absolute;
      content: ' ';
      width: 100%;
      height: 100%;
      background-color: var(--accent-color);
      opacity: 0.6;
      transition: all .5s ease-out;
    }
    
    &:hover {
      &::before {
        opacity: 1;
        background-color: var(--bg-primary);
      }
    }
  }
  
  &__item-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100%;
    z-index: 1;
    
    p {
      letter-spacing: 3px;
      margin: 0;
      color: var(--text-primary);
      transition: color 0.3s ease;
    }
    
    &:hover {
      color: var(--bg-primary);
    }
  }
  
  &__item-num {
    position: relative;
    
    span {
      position: absolute;
      margin-right: 5px;
      height: 2px;
      width: 30px;
      top: 18px;
      left: 0;
      background-color: var(--accent-color);
      transition: all .5s ease-out, background-color 0.3s ease;
    }
    
    p {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 26px;
      transition: all .5s ease-out;
    }
  }
  
  &__item-subtitle {
    display: block;
    margin-top: auto;
    margin-bottom: 5px;
    font-size: 24px;
    color: var(--text-primary);
    transition: color 0.3s ease;
  }
  
  &__item-title {
    margin-bottom: 30px;
    padding: 10px 0;
    font-size: 56px;
    line-height: 1;
    border-bottom: 3px solid var(--accent-color);
    color: var(--text-primary);
    
    transition: 
      color 0.3s ease,
      border-color 0.3s ease;
  }
  
  &__item-text {
    display: flex;
    margin-bottom: 20px;
    font-size: 18px;
    align-items: center;
    color: var(--text-primary);
    transition: color 0.3s ease;
    
    svg {
      margin-left: 5px;
      
      path {
        fill: var(--accent-color);
        transition: fill 0.3s ease;
      }
    }
  }
  
  &__item-info {
    color: var(--text-primary);
    transition: color 0.3s ease;
  }
}

.resume {
  text-align: center;
  margin-top: 20px;
  
  &__text {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--text-primary);
    transition: color 0.3s ease;
  }
  
  &__title {
    font-size: 120px;
    transition: all 0.3s ease;
    color: var(--text-primary);
    text-decoration: none;
    
    &:hover {
      color: var(--text-secondary);
    }
  }
  
  &__arrow {
    margin-bottom: 20px;
  }
}


.footer {
  padding: 50px 0 20px;
  background-color: var(--bg-primary);
  
  transition: background-color 0.3s ease;
  
  &__inner {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__box {
    margin-bottom: 30px;
    margin-right: 20px;
  }
  
  &__box-email {
    font-size: 42px;
    display: inline-block;
    position: relative;
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.3s ease;
    
    &::before,
    &::after {
      position: absolute;
      content: " ";
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: var(--accent-color);
      transition: all 1s ease-out;
    }
    
    &::before {
      transform: scaleX(0);
      transform-origin: left;
    }
    
    &::after {
      transform-origin: right;
      transition-delay: 0.2s;
    }
    
    &:hover {
      &::before {
        transform: scaleX(1);
        transition-delay: 0.2s;
      }
      
      &::after {
        transform: scaleX(0);
        transition-delay: 0s;
      }
    }
  }
  
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  &__list-li {
    font-size: 18px;
    margin-bottom: 15px;
    
    span {
      color: var(--text-primary);
      transition: color 0.3s ease;
    }
  }
  
  &__list-a {
    padding-left: 5px;
    @extend %light;
    opacity: 0.8;
    transition: opacity .3s ease-out, color 0.3s ease;
    color: var(--text-primary);
    text-decoration: none;
    
    &:hover {
      opacity: 1;
    }
  }
  
  &__text {
    @extend %light;
    text-align: center;
    font-size: 15px;
    color: var(--text-primary);
    transition: color 0.3s ease;
  }
}

