$white: #f8f8f8;
$black: #000000;


%light {
  font-family: 'AnekMalayalam-Light', sans-serif;
  font-weight: 300;
}

%medium {
  font-family: 'AnekMalayalam-Medium', sans-serif;
  font-weight: 500;
}

%semibold {
  font-family: 'AnekMalayalam-SemiBold', sans-serif;
  font-weight: 600;
}


.header{
  &__top{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $black;
    z-index: 999;
  }
  &__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom{
    background-image: url('../images/bg.jpg');
    background-position: bottom bottom;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
  }
  &__bottom-inner{
    padding-top: 86px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 3px;
  }
  &__bottom-title{
    max-width: 900px;
    font-size: 120px;
  }
}


.menu{
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-li{
    letter-spacing: 3px;

  }
  &__list-li:not(:last-child){
    margin-right: 15px;
  }
  &__list-a{
    display: inline-block;
    padding: 5px;
    font-size: 24px;
    @extend %medium;
    // border-bottom: 2px solid $black;
    transition: all 0.3s ease;
  }
  &__list-a:hover {
    border-color: white;
    color: #9c9c9c;
  }
}


.about{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info{
    padding-top: 50px;
    max-width: 600px;
  }
  &__info-title {
    margin-bottom: 40px;
    display: inline-block;
    font-size: 30px;
    border-bottom: 1px solid $white;
  }
  &__info-subtitle {
    margin-bottom: 20px;
    text-align: right;
  }
  &__info-text {
    margin-bottom: 20px;
    @extend %light;
    font-size: 18px;
  }
}


.skills {
  background-image: url('../images/skills.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right center;
  &__inner {
    font-size: 14px;
    letter-spacing: 2px;
  }
  &__title {
    margin-bottom: 60px;
  }
  &__items {
    width: 450px;
  }
  &__item {
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 2px solid $white;
    text-transform: uppercase;
    span {
      margin-right: 7px;
      position: absolute;
      display: block;
      right: 0;
      bottom: -26px;
    }
    span:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      right: -7px;
      bottom: 24px;
      background-color: $black;
    }
    p {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  &__text {
    @extend %light;
  }
}


.works {
  &__inner {
    padding: 50px 15px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
  }
  &__title{
    text-align: center;
  }
  &__item {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px;
    height: 500px;
    overflow: hidden;
    transition: all .5s ease-out;
    &:hover{
      .works__item-num span{
        background-color: $black;
      }
      .works__item-title{
        border-bottom: 3px solid $black;
      }
      .works__item-num {
        span {
          left: 40%;
        }
        p {
          right: 40%;
        }
      }
      svg {
        path {
          fill: $black;
        }
      }
    } 
  }
  &__item-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &::before{
      position: absolute;
      content: ' ';
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0.6;
      transition: all .5s ease-out;
    }
    &:hover {
      &::before{
        opacity: 1;
        background-color: $white;
      }
    }
  }
  &__item-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100%;
    p {
      letter-spacing: 3px;
    }
    &:hover{
      color: $black;
    }
  }
  &__item-num {
    position: relative;
    span {
      position: absolute;
      margin-right: 5px;
      height: 2px;
      width: 30px;
      top: 18px;
      left: 0;
      background-color: $white;
      transition: all .5s ease-out;
    }
    p {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 26px;
      transition: all .5s ease-out;
    }
  }
  &__item-subtitle {
    display: block;
    margin-top: auto;
    margin-bottom: 5px;
    font-size: 24px;
  }
  &__item-title {
    margin-bottom: 30px;
    padding: 10px 0;
    font-size: 56px;
    line-height: 1;
    border-bottom: 3px solid $white;
  }
  &__item-text {
    display: flex;
    margin-bottom: 20px;
    font-size: 18px;
    align-items: center;
    svg {
      margin-left: 5px;
      path {
        fill: $white;
      }
    }
  }
}


.footer {
  padding: 80px 0 20px;
  &__inner {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box-email{
    font-size: 42px;
    display: inline-block;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      content: " ";
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: $white;
      transition: all 1s ease-out;
    }
    &::before {
      transform: scaleX(0);
      transform-origin: left;
    }
    &::after {
      transform-origin: right;
      transition-delay: 0.2s;
    }
    &:hover {
      &::before {
        transform: scaleX(1);
        transition-delay: 0.2s;
      }
      &::after {
        transform: scaleX(0);
        transition-delay: 0s;
      }
    }
  }
  &__list-li{
    font-size: 18px;
  }
  &__list-li:not(:last-child){
    margin-bottom: 15px;
  }
  &__list-a{
    padding-left: 5px;
    @extend %light;
    opacity: 0.8;
    transition: opacity .3s ease-out;
    &:hover {
      opacity: 1;
    }
  }
  &__text {
    @extend %light;
    text-align: center;
  }
}