<footer id="contact" class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__box">
        <a class="footer__box-email" href="mailto:metsuki-sutemi@mail.ru">metsuki-sutemi@mail.ru</a>
      </div>
      <ul class="footer__list">
        <li class="footer__list-li">
          <span>Telephone:</span>
          <a class="footer__list-a" href="tel:+79590235467">+7 (959) 023-54-67</a>
        </li>
        <li class="footer__list-li">
          <span>VK:</span>
          <a class="footer__list-a" href="https://vk.com/metsukii_sutemii" target="_blank">https://vk.com/metsukii_sutemii</a>
        </li>
        <li class="footer__list-li">
          <span>Telegram: @MetsukiIIISutemi</span>
          <a class="footer__list-a" href="https://t.me/MetsukiIIISutemi" target="_blank">https://t.me/MetsukiIIISutemi</a>
        </li>
        <li class="footer__list-li">
          <span>GitHub:</span>
          <a class="footer__list-a" href="https://github.com/MetsukiIIISutemi" target="_blank">https://github.com/MetsukiIIISutemi</a>
        </li>
      </ul>
    </div>
    <p class="footer__text">
      © Portfolio 2025 - Developed by Anastasia Panova
    </p>
  </div>
</footer>

<script src="js/main.min.js"></script>

