<header id="main" class="header">
      <div class="header__top">
        <div class="container">
          <div class="header__top-inner">
            <a class="header__logo" href="#main">
              <img src="../../images/logo.svg" alt="logo">                                       
            </a>
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__list-li">
                  <a class="menu__list-a" href="#about"> ABOUT </a>
                </li>
                <li class="menu__list-li">
                  <a class="menu__list-a" href="#skills"> SKILLS </a>
                </li>
                <li class="menu__list-li">
                  <a class="menu__list-a" href="#works"> WORKS </a>
                </li>
                <li class="menu__list-li">
                  <a class="menu__list-a" href="#contact"> CONTACT </a>
                </li>
              </ul>
              <button class="menu__btn"></button>
            </nav>
          </div>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container">
          <div class="header__bottom-inner">
            <div class="header__bottom-box" >
              <canvas class="header__bottom-canvas" id="waves"></canvas>
              <h1 class="header__bottom-title">WELCOME TO PORTFOLIO</h1>
            </div>
          </div>
        </div>
      </div>
  </header>